<script setup>

import {Icon} from "@iconify/vue";
</script>

<template>
    <nav class="box-content h-[64px] dark:bg-dark_mode_main rounded-[6px] px-6 flex items-center">
        <div class="flex items-center">
            <div class="flex items-center h-[38px] w-[38px] me-[4px]">
                <Icon icon="tabler:search"
                      class="text-[1.63rem] mx-auto text-light_mode_text transition duration-75 dark:text-dark_mode_text group-hover:text-gray-900 dark:group-hover:text-white"></Icon>
            </div>
            <span class="flex items-center">
                <span class="text-dark_mode_second_text">Search</span>
            </span>
        </div>
        <div class="grow"></div>
        <div class="flex items-center h-[38px] w-[38px] me-[4px]">
            <Icon icon="tabler:language"
                  class="text-[1.63rem] mx-auto text-light_mode_text transition duration-75 dark:text-dark_mode_text group-hover:text-gray-900 dark:group-hover:text-white"></Icon>
        </div>
        <div class="flex items-center h-[38px] w-[38px] me-[4px]">
            <Icon icon="tabler:moon"
                  class="text-[1.63rem] mx-auto text-light_mode_text transition duration-75 dark:text-dark_mode_text group-hover:text-gray-900 dark:group-hover:text-white"></Icon>
        </div>
        <div class="flex items-center h-[38px] w-[38px] me-[4px]">
            <Icon icon="tabler:bell"
                  class="text-[1.63rem] mx-auto text-light_mode_text transition duration-75 dark:text-dark_mode_text group-hover:text-gray-900 dark:group-hover:text-white"></Icon>
        </div>
        <div class="flex items-center h-[38px] w-[38px] me-[4px]">
            <img class="w-[38px] rounded-full h-[38px] bg-white" src="" alt=""/>
        </div>
    </nav>
</template>

<style scoped>

</style>
