<script setup>

import AppLayout from "../Layouts/AppLayout.vue";
import Welcome from "./Welcome.vue";
</script>

<template>
    <AppLayout title="Dashboard">
        <div class="w-full dark:bg-dark_mode_main rounded-[6px] mt-16">
            asdasdsa
        </div>
    </AppLayout>
</template>

<style scoped>

</style>
