<script setup>

</script>

<template>
<!--    <div class="pl-[16rem]">-->
        <div class="text-light_mode_text rounded-lg dark:text-dark_mode_text dark:border-gray-700 flex justify-center">
            <span>© 2023 create by Yeop3</span>
        </div>
<!--    </div>-->
</template>

<style scoped>

</style>
