<script setup>
import { ref } from 'vue';
import { Head, Link, router } from '@inertiajs/vue3';
import { Icon} from "@iconify/vue";
import ApplicationMark from '@/Components/ApplicationMark.vue';
import Banner from '@/Components/Banner.vue';
import Dropdown from '@/Components/Dropdown.vue';
import DropdownLink from '@/Components/DropdownLink.vue';
import NavLink from '@/Components/NavLink.vue';
import ResponsiveNavLink from '@/Components/ResponsiveNavLink.vue';
import sideRoutes from '../Routes/route';
import Sidebar from "../Components/Sidebar/Sidebar.vue";
import Footer from "../Components/Footer/Footer.vue";
import Header from "../Components/Header/Header.vue";

defineProps({
    title: String,
});

const showingNavigationDropdown = ref(false);

const switchToTeam = (team) => {
    router.put(route('current-team.update'), {
        team_id: team.id,
    }, {
        preserveState: false,
    });
};

const logout = () => {
    router.post(route('logout'));
};
</script>

<template>
    <div>
        <Head :title="title" />

        <Banner />

        <div class="min-h-screen bg-light_mode_background dark:bg-dark_mode_background">
            <Sidebar/>

<!--            &lt;!&ndash; Page Heading &ndash;&gt;-->
<!--            <header v-if="$slots.header" class="bg-white dark:bg-gray-800 shadow">-->
<!--                <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">-->
<!--                    <slot name="header" />-->
<!--                </div>-->
<!--            </header>-->

<!--            &lt;!&ndash; Page Content &ndash;&gt;-->
            <main class="relative h-[100%] ml-64">
                <div class="h-screen max-w-[1440px] mx-auto px-[1.5rem] pt-4">
                    <Header/>
                    <slot />
                    <Footer/>
                </div>
            </main>
        </div>
    </div>
</template>
