<script setup>

import sideRoutes from "../../Routes/route";
import {Icon} from "@iconify/vue";
</script>

<template>
    <aside class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
           aria-label="Sidebar">
        <div class="h-full px-3 py-4 overflow-y-auto bg-light_mode_main dark:bg-dark_mode_main">
            <ul class="space-y-2 font-medium">
                <li v-for="sideRoute in sideRoutes">
                    <a v-if="!sideRoute.category" :href="sideRoute.route"
                       class="flex items-center text-[.95rem] p-2 text-light_mode_text rounded-lg dark:text-dark_mode_text hover:bg-gray-100 dark:hover:bg-dark_mode_hover">
                        <Icon :icon="`tabler:${sideRoute.icon}`"
                              class="text-[1.375rem] text-light_mode_text transition duration-75 dark:text-dark_mode_text group-hover:text-gray-900 dark:group-hover:text-white"></Icon>
                        <span class="ml-3">{{ sideRoute.name }}</span>
                    </a>
                    <span class="text-dark_mode_second_text text-[.85rem]"
                          v-if="sideRoute.category">{{ sideRoute.category }}</span>
                    <a v-for="item in sideRoute.items" v-if="sideRoute.category" :href="item.route"
                       class="flex items-center text-[.95rem] p-2 text-light_mode_text rounded-lg dark:text-dark_mode_text hover:bg-gray-100 dark:hover:bg-dark_mode_hover">
                        <Icon :icon="`tabler:${item.icon}`"
                              class="text-[1.375rem] text-light_mode_text transition duration-75 dark:text-dark_mode_text group-hover:text-gray-900 dark:group-hover:text-white"></Icon>
                        <span class="ml-3">{{ item.name }}</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>
</template>

<style scoped>

</style>
